@use '../../../styles/colors' as *;

.change-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-family: Inter;
    font-size: 15px;
    .change-titlepress-button {
        &:hover {
            cursor: pointer;
            svg {
                path {
                    fill: white;
                }
            }
        }
    }
    .change-title-character-count {
        color: $gray-30;
        font-size: 11px;
        font-variant-numeric: tabular-nums;
        line-height: 12px;
        white-space: nowrap;
    }
    .change-title-input {
        font-family: Inter;
        font-size: 15px;
        line-height: 18px;
        color: white;
        background: transparent;
        outline: none;
        border: none;
        text-align: end;
        &.disabled {
            user-select: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}
