@use '../../../../../styles/colors' as *;

.segments-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding: 10px 10px 20px 10px;
    .CodeMirror {
        min-height: 66px;
        height: max-content;
    }
    .segment-editor-container:nth-child(2n) {
        .CodeMirror-scroll {
            .CodeMirror-gutters {
                background: $gray-60;
            }
        }
    }
    .segment-editor-container:nth-child(2n + 1) {
        .CodeMirror-scroll {
            .CodeMirror-gutters {
                background: $gray-50;
            }
        }
    }
}
