@use '../../../shared/styles/colors' as *;

.change-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-family: Inter;
    font-size: 15px;
    .change-titlepress-button {
        &:hover {
            cursor: pointer;
            svg {
                path {
                    fill: white;
                    // stroke: white;
                }
            }
        }
        &.edit-mode-on {
            svg {
                path {
                    fill: white;
                    // stroke: white;
                }
            }
            &:hover {
                cursor: pointer;
                svg {
                    path {
                        fill: $gray-30;
                        // stroke: white;
                    }
                }
            }
        }
    }
    .change-title-input {
        font-family: Inter;
        font-size: 15px;
        line-height: 18px;
        color: white;
        background: transparent;
        outline: none;
        border: none;
        text-align: end;
        &.disabled {
            user-select: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}
