.header-menu-logout-modal {
    padding: 30px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__button {
        margin-top: 11px;
    }
}

@media screen and (max-width: 1024px) {
    .header-menu-logout-modal {
        padding: 18px 16px 16px;
    }

    .header-menu-logout-modal__button {
        width: 100%;
    }
}
