.empty-project-placeholder-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .desktop-display {
        display: flex;
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
    .mobile-display {
        display: flex;
        &.labkeeper-button {
            gap: 0px;
            padding-left: 5px;
            padding-right: 5px;
        }
        @media screen and (min-width: 1024px) {
            display: none;
        }
    }
}
