.empty-project-placeholder-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media screen and (min-width: 1024px) {
        &.labkeeper-button {
            gap: 0px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
