@use '../../../../shared/styles/colors' as *;

.share-modal {
  background-color: $white;
  border-radius: 16px;
  min-width: 460px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 20px;
    font-weight: 600;
    padding: 16px 32px;
    background-color: $gray-60;
    margin-bottom: 0;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 24px 32px;

    .radio-wrapper {
      flex: 1;

      .labkeeper-radio {
        display: flex;
        align-items: center;
        transition: all 0.2s ease;

        .radio-custom {
          width: 20px;
          height: 20px;
          margin-right: 12px;
          border: 2px solid $gray-30;
          border-radius: 50%;

          .point {
            width: 10px;
            height: 10px;
            background-color: $blue-10;
          }
        }
      }

      &.checked {
        .radio-custom {
          border-color: $blue-10;
        }
      }
    }
  }

  &__footer {
    margin-top: auto;
    padding: 0 24px 24px;
    display: flex;
    justify-content: center;

    .labkeeper-button {
      width: auto;
      min-width: 280px;
      height: 48px;
      
      svg {
        margin-left: 8px;
        width: 20px;
        height: 20px;
      }
    }
  }
} 