@use '../../../../../../styles/colors' as *;

.code-settings-header-container {
    .input-hide {
        position: absolute;
        width: 21px;
        height: 45px;
        right: 130px;
        top: 0;
        pointer-events: none;

        input {
            display: none;
        }
    }

    .input-show {
        right: 5px;
        top: 0;
        height: 45px;
        width: 98%;
        position: absolute;
        transition: width 0.4s;
        z-index: 5;
    }

    .action-button--search-hidden {
        visibility: hidden;
        pointer-events: none;
    }

    // :hover в компоненте Input специфичнее, поэтому дублируем его тут
    .input-show.search-no-match .input-base,
    .input-show.search-no-match .input-base:hover {
        border-color: $red-10;
        background-color: $red-20;
        transition:
            border-color 0.2s,
            background-color 0.2s;
    }
}
