@use '../../../../../../../shared/styles/colors' as *;

.project-settings-dropdown {

  width: max-content;
  span {
    width: 100%;
    text-align: end;
    padding: 2px;
    &:hover {
      color: $white;
      cursor: pointer;
      background: $gray-30;
    }
  }
}
