@use '../../../../styles/colors' as *;

.manager-drag-zone-container {
    height: 100%;
    width: calc(100% - 2px);
    border: 1px dashed $gray-30;
    background: $gray-50;

    display: flex;
    align-items: center;
    justify-content: center;
    .typography {
        text-align: center;
    }
}
