@use '../../../../styles/colors' as *;

.labkeeper-instruction-container {
    position: relative;
    border-radius: 8px 8px 0 0;
    background-color: $gray-60;
    min-height: 26px;
    overflow: hidden;
    width: 100%;

    .swiper {
        width: 100%;
        height: 100%;
        padding-left: 5px;
        overflow: hidden;
    }
    &.is-manager-opened {
        .swiper-wrapper {
            @media screen and (max-width: 1024px) {
                width: 350px;
            }
            @media screen and (max-width: 1250px) and (min-width: 1024px) {
                max-width: 35vw;
            }
        }
    }
    .swiper-wrapper {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
    }

    .swiper-slide {
        width: 100% !important;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .nav-button {
        position: absolute;
        z-index: 12;
        top: 50%;
        transform: translateY(-50%);

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }

        .image-button {
            height: 42px;
            width: 42px;
        }
    }

    :global {
        .swiper-pagination {
            bottom: 8px !important;
        }

        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            background: $gray-40;
            opacity: 0.5;
            transition: all 0.3s ease;

            &-active {
                opacity: 1;
                background: $button-action-blue;
                transform: scale(1.2);
            }
        }
    }
}
