$white: #ffffff;
$blue-10: #4469e0;
$blue-20: #9ab2ff;
$button-action-blue: #1f3b97;
$green: #1ca852;
$button-action-green: #0f7436;
$gray-10: #0e1621;
$gray-20: #4a5365;
$gray-30: #8c98b0;
$gray-40: #bfc8de;
$gray-50: #d4def6;
$gray-60: #f1f5ff;
$red-10: #6f1919;
$red-20: #fdd2d2;
