@use '../../styles/colors' as *;

.input-container {
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    .input-base {
        margin-top: 4px;
        border: 2px solid $gray-50;
        border-radius: 8px;
        height: 50px;
        font-size: 15px;
        line-height: 18px;
        padding-left: 20px;
        transition-duration: 0.3s;
        font-family: inherit;
        background-color: $white;
        color: $gray-10;

        &::placeholder {
            color: $gray-30;
        }

        &--textarea {
            height: auto;
            min-height: 220px;
            padding: 12px 20px;
            resize: vertical;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: $gray-10;
            -webkit-box-shadow: 0 0 0px 1000px $white inset;
            transition: background-color 9999s ease-in-out 0s;
        }
        &:hover {
            border: 2px solid $gray-30;
        }
        &:disabled {
            border: 2px solid $gray-50;
            background-color: $gray-60;
            color: $gray-30;
        }
        &:active {
            border: 2px solid $gray-20;
            color: $gray-20;
        }

        &.error {
            border: 2px solid $red-10;
        }
    }

    .error-text-container {
        width: 100%;
        text-align: end;
    }
    .input-delete-icon {
        position: absolute;
        right: 15px;
        top: 15px;
        &:hover {
            cursor: pointer;
            svg {
                path {
                    stroke: $gray-10;
                }
            }
        }
    }
}
