@use '../../shared/styles/common' as *;
@use '../../shared/styles/colors' as *;

.projects-container {
  display: flex;
  flex-direction: row;
  background-color: $white;
  height: calc(100vh - $header-height - $main-margin);
  width: 100%;
  gap: 8px;
  border-radius: 8px;
  .project-content-container {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .add-project-button {
    width: 300px;
    height: 90px;
  }
  table {
    th:nth-child(1) {

    }
    td:nth-child(1) {
      // width: 33%;
      padding: 0px;
      display: flex;
      align-items: center;
    }
    td {
      width: 33%;
    }
  }
  .add-project-button-footer {
    margin-bottom: 20px;
  }
  td:has(.delete-project-container) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .delete-project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: end;
    padding-left: 5px;
    // ХАК
    height: 62px;
    &:hover {
      cursor: pointer;
    }
    .delete-icon {
      background-color: $red-20;
      border-radius: 45px;
      height: 16px;
      width: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      rotate: 45deg;
      svg {
        path {
          fill: $red-10;
        }
      }
    }
  }

  table {
    border-collapse: collapse;
    tr {
      text-align: left;
      border-bottom: 1px solid $gray-50;
      transition-duration: 0.3s;
      th {
        padding-bottom: 4px;
      }

      &:hover:not(:nth-child(1)) {
        cursor: pointer;
        background: $gray-60;
      }
    }
  }
}
