@use '../../../styles/colors' as *;

.project-title-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 10px;
    align-items: center;
    min-width: 0;

    .project-title-text {
        display: -webkit-box;
        padding-left: 14px;
        max-width: 40ch;
        width: 100%;
        overflow: hidden;
        overflow-wrap: anywhere;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
    .input-base {
        height: 40px;
        padding-left: 14px;
        border: none;
        border-bottom: 0px solid $gray-60;
        margin-top: 0px;

        &:hover {
            border: none;
        }
    }
    .input-hint {
        margin-left: 14px;
    }
    .change-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        &:hover {
            cursor: pointer;
            svg {
                path {
                    fill: black;
                }
            }
        }
    }
}
