@use '../../../../styles/colors' as *;

.result-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $white;
    overflow: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    .save-to-pdf-button {
        width: 100%;
    }
}

.textLayer {
    pointer-events: auto;
    color: transparent;
  }
  
  .textLayer span {
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0 0;
  }